body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.reels {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.reel {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 2px solid #999;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.reel img {
    width: 80px;  /* Dimenzije slika */
    height: 80px;
    object-fit: cover; /* Slike se prilagođavaju okvirima */
}
